In [8]:
#!pip  install ydata-profiling

In [9]:
#from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')
sns.set()
plt.style.use('ggplot')
%matplotlib inline

In [10]:
df=pd.read_csv('Financial_inclusion_dataset.csv')

In [11]:
df

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23519,Uganda,2018,uniqueid_2113,No,Rural,Yes,4,48,Female,Head of Household,Divorced/Seperated,No formal education,Other Income
23520,Uganda,2018,uniqueid_2114,No,Rural,Yes,2,27,Female,Head of Household,Single/Never Married,Secondary education,Other Income
23521,Uganda,2018,uniqueid_2115,No,Rural,Yes,5,27,Female,Parent,Widowed,Primary education,Other Income
23522,Uganda,2018,uniqueid_2116,No,Urban,Yes,7,30,Female,Parent,Divorced/Seperated,Secondary education,Self employed
23523,Uganda,2018,uniqueid_2117,No,Rural,Yes,10,20,Male,Child,Single/Never Married,Secondary education,No Income

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [13]:
#profile = ProfileReport(df, title="Profiling Report")
#profile.to_file("report.html")

* Will remove 'year' and 'uniqueid'
* We have imbalanced target data 'bank_account' about 85%

In [14]:
df.drop(['year','uniqueid'],axis=1,inplace=True)

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.columns

Index(['country', 'bank_account', 'location_type', 'cellphone_access',
       'household_size', 'age_of_respondent', 'gender_of_respondent',
       'relationship_with_head', 'marital_status', 'education_level',
       'job_type'],
      dtype='object')

In [17]:
cat=df.select_dtypes(include='object').columns
for col in cat:
    print(col)
    print(df[col].value_counts())

country
country
Rwanda      6678
Kenya       5617
Tanzania    4825
Uganda      1975
Name: count, dtype: int64
bank_account
bank_account
No     15940
Yes     3155
Name: count, dtype: int64
location_type
location_type
Rural    11734
Urban     7361
Name: count, dtype: int64
cellphone_access
cellphone_access
Yes    14110
No      4985
Name: count, dtype: int64
gender_of_respondent
gender_of_respondent
Female    11377
Male       7718
Name: count, dtype: int64
relationship_with_head
relationship_with_head
Head of Household      10619
Spouse                  4697
Child                   1906
Parent                  1028
Other relative           657
Other non-relatives      188
Name: count, dtype: int64
marital_status
marital_status
Married/Living together    8690
Single/Never Married       6012
Widowed                    2418
Divorced/Seperated         1967
Dont know                     8
Name: count, dtype: int64
education_level
education_level
Primary education                  9452
No formal education                3917
Secondary education                3827
Tertiary education                 1080
Vocational/Specialised training     785
Other/Dont know/RTA                  34
Name: count, dtype: int64
job_type
job_type
Self employed                   4881
Informally employed             4524
Farming and Fishing             4098
Remittance Dependent            2220
Other Income                    1051
Formally employed Private       1012
No Income                        564
Formally employed Government     378
Government Dependent             241
Dont Know/Refuse to answer       126
Name: count, dtype: int64

In [18]:
df = df[df['education_level'] != 'Other/Dont know/RTA']
df = df[df['marital_status'] != 'Dont know']
df = df[df['job_type'] != 'Dont Know/Refuse to answer']

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18927 entries, 0 to 23523
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 18927 non-null  object
 1   bank_account            18927 non-null  object
 2   location_type           18927 non-null  object
 3   cellphone_access        18927 non-null  object
 4   household_size          18927 non-null  int64
 5   age_of_respondent       18927 non-null  int64
 6   gender_of_respondent    18927 non-null  object
 7   relationship_with_head  18927 non-null  object
 8   marital_status          18927 non-null  object
 9   education_level         18927 non-null  object
 10  job_type                18927 non-null  object
dtypes: int64(2), object(9)
memory usage: 1.7+ MB

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18927 entries, 0 to 23523
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 18927 non-null  object
 1   bank_account            18927 non-null  object
 2   location_type           18927 non-null  object
 3   cellphone_access        18927 non-null  object
 4   household_size          18927 non-null  int64
 5   age_of_respondent       18927 non-null  int64
 6   gender_of_respondent    18927 non-null  object
 7   relationship_with_head  18927 non-null  object
 8   marital_status          18927 non-null  object
 9   education_level         18927 non-null  object
 10  job_type                18927 non-null  object
dtypes: int64(2), object(9)
memory usage: 1.7+ MB

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
df['bank_account']=df['bank_account'].map({'Yes':1,'No':0})
df['cellphone_access']=df['cellphone_access'].map({'Yes':1,'No':0})
df['location_type']=df['location_type'].map({'Rural':0,'Urban':1})

In [23]:
df['gender_of_respondent']=df['gender_of_respondent'].map({'Female':0,'Male':1})

In [24]:
le_rel=LabelEncoder()
df['relationship_with_head']=le_rel.fit_transform(df['relationship_with_head'])

In [25]:
le_edu=LabelEncoder()
df['education_level']=le_edu.fit_transform(df['education_level'])

In [26]:
le_mar=LabelEncoder()
df['marital_status']=le_mar.fit_transform(df['marital_status'])

In [27]:
le_job=LabelEncoder()
df['job_type']=le_job.fit_transform(df['job_type'])

In [28]:
from sklearn.preprocessing import OneHotEncoder
Ohe=OneHotEncoder(sparse_output=True)
df0=Ohe.fit_transform(df[['country']]).toarray()

In [29]:
df0 = pd.DataFrame(df0, columns=Ohe.get_feature_names_out(['country']))

df0=df0.reset_index()
df=df.reset_index()
df=pd.concat([df,df0],axis=1,ignore_index=True)

In [30]:
df0=df0.reset_index()
df=df.reset_index()
df=pd.concat([df,df0],axis=1)

In [31]:
df

,index,country,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type,index,country_Kenya,country_Rwanda,country_Tanzania,country_Uganda
0,0,Kenya,1,0,1,3,24,0,5,1,2,8,0,1.0,0.0,0.0,0.0
1,1,Kenya,0,0,0,5,70,0,1,3,0,3,1,1.0,0.0,0.0,0.0
2,2,Kenya,1,1,1,5,26,1,3,2,4,8,2,1.0,0.0,0.0,0.0
3,3,Kenya,0,0,1,5,34,0,1,1,1,2,3,1.0,0.0,0.0,0.0
4,4,Kenya,0,1,0,8,26,1,0,2,1,4,4,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,23519,Uganda,0,0,1,4,48,0,1,0,0,6,18922,0.0,0.0,0.0,1.0
18923,23520,Uganda,0,0,1,2,27,0,1,2,2,6,18923,0.0,0.0,0.0,1.0
18924,23521,Uganda,0,0,1,5,27,0,4,3,1,6,18924,0.0,0.0,0.0,1.0
18925,23522,Uganda,0,1,1,7,30,0,4,0,2,8,18925,0.0,0.0,0.0,1.0
18926,23523,Uganda,0,0,1,10,20,1,0,2,2,5,18926,0.0,0.0,0.0,1.0

In [32]:
df.drop(['index'],axis=1,inplace=True)

In [33]:
df.drop(['country'],axis=1,inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18927 entries, 0 to 18926
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   bank_account            18927 non-null  int64
 1   location_type           18927 non-null  int64
 2   cellphone_access        18927 non-null  int64
 3   household_size          18927 non-null  int64
 4   age_of_respondent       18927 non-null  int64
 5   gender_of_respondent    18927 non-null  int64
 6   relationship_with_head  18927 non-null  int64
 7   marital_status          18927 non-null  int64
 8   education_level         18927 non-null  int64
 9   job_type                18927 non-null  int64
 10  country_Kenya           18927 non-null  float64
 11  country_Rwanda          18927 non-null  float64
 12  country_Tanzania        18927 non-null  float64
 13  country_Uganda          18927 non-null  float64
dtypes: float64(4), int64(10)
memory usage: 2.0 MB

In [35]:
X=df.drop('bank_account',axis=1)
y=df['bank_account']

In [40]:
from imblearn.over_sampling import RandomOverSampler, SMOTE, ADASYN
from collections import Counter

In [41]:
adasyn = ADASYN(random_state=42)
X_resampled, y_resampled = adasyn.fit_resample(X, y)
print(sorted(Counter(y_resampled).items()))

[(0, 15799), (1, 15651)]

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= 0)

In [42]:
X_train1,X_test1,y_train1,y_test1 = train_test_split(X_resampled, y_resampled ,test_size=0.2,random_state= 0)

In [37]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [39]:
param_grid = {
    'criterion': ['gini'],
    'max_depth': [5,10,25],
    'min_samples_split': [2,5,10,15],
    'n_estimators' : [50,80,100]
}
grid_search = GridSearchCV(estimator=RandomForestClassifier(random_state=0), param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

print("Best parameters found: ", grid_search.best_params_)
print("Best score achieved: ", grid_search.best_score_)

Best parameters found:  {'criterion': 'gini', 'max_depth': 10, 'min_samples_split': 10, 'n_estimators': 80}
Best score achieved:  0.866455570611347

In [49]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report


predictions = grid_search.best_estimator_.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print(accuracy)
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

0.8652931854199684
              precision    recall  f1-score   support

           0       0.88      0.98      0.92      3157
           1       0.73      0.30      0.42       629

    accuracy                           0.87      3786
   macro avg       0.80      0.64      0.67      3786
weighted avg       0.85      0.87      0.84      3786

In [44]:
param_grid1 = {
    'criterion': ['gini'],
    'max_depth': [25,30],
    'min_samples_split': [2,5],
    'n_estimators' : [80,100]
}
grid_search1 = GridSearchCV(estimator=RandomForestClassifier(random_state=0), param_grid=param_grid1, cv=5)
grid_search1.fit(X_train1, y_train1)

print("Best parameters found: ", grid_search1.best_params_)
print("Best score achieved: ", grid_search1.best_score_)

Best parameters found:  {'criterion': 'gini', 'max_depth': 25, 'min_samples_split': 2, 'n_estimators': 80}
Best score achieved:  0.8604531001589825

In [47]:

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report


predictions = grid_search1.best_estimator_.predict(X_test1)
accuracy = accuracy_score(y_test1, predictions)
print(accuracy)
from sklearn.metrics import classification_report
print(classification_report(y_test1,predictions))

0.8707472178060414
              precision    recall  f1-score   support

           0       0.90      0.84      0.87      3161
           1       0.85      0.90      0.87      3129

    accuracy                           0.87      6290
   macro avg       0.87      0.87      0.87      6290
weighted avg       0.87      0.87      0.87      6290

In [48]:
import joblib

In [50]:
joblib.dump(grid_search1.best_estimator_, 'best_model.joblib')

['best_model.joblib']

In [51]:
import pickle
with open('relationship.pkl', 'wb') as file:
    pickle.dump(le_rel, file)
with open('marital.pkl', 'wb') as file:
    pickle.dump(le_mar, file)
with open('education.pkl', 'wb') as file:
    pickle.dump(le_edu, file)
with open('job.pkl', 'wb') as file:
    pickle.dump(le_job,file)